<div class="login-status-header">
    <!-- <div *ngIf="isAuthenticated && userEmail" class="login-status-user-info"> -->
    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        <!-- <span class="welcome-message">Welcome back, {{ userEmail }}!</span> -->
        <span class="welcome-message">Welcome back, {{ userFullName }}!</span>
    </div>

    <button *ngIf="!isAuthenticated" (click)="login()" class="security-btn">Login</button>

    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logout</button>

    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-1">Member</button>


</div>